In [1]:
import pandas as pd
rain = pd.read_csv("https://milliams.com/courses/data_analysis_python/rain.csv")

In [2]:
rain.max()

Cardiff      125.4
Stornoway    151.6
Oxford        82.0
Armagh       104.1
dtype: float64